.buttonWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}
.fileWrapper {
    display: flex;
    align-items: center;
}

.linkFile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}